
.search-form {
  margin: 30px 0;
  padding: 10px;
  background-color: white;
  box-shadow: 0 1px 5px 0 rgba(0,0,0,0.07),0 1px 0 0 rgba(0,0,0,0.03);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  h3 {
    text-align: center;
    margin-bottom: 20px
  }
  label {
    margin: 0;
    padding: 0 8.5px;
  }
}


.search-field {
  width: 100%;
  margin: 10px;
}
