// heirachy text, 2-3 levels, highlight next charge, total paid, cards

.dash-container {
  margin-top: 15px;
}

.base-card {
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0 1px 2px rgba(3,49,86,.2);
}

.no-hover-link {
  text-decoration: none !important;
}

.bank-card {
  width: 190px;
  height: 120px;
  margin: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  i {
    font-size: 32px;
    color: #3579BE;
  }
}

.bank-card:hover {
  cursor: pointer;
  box-shadow: 0 2px 3px rgb(3,49,86);
  i {
    font-size: 32px;
  }
}

.bank-card:visited {
  text-decoration: none;
}

.form-button:focus {
  box-shadow: 0 0 5px 2px rgb(3,49,86);
  text-decoration: none;
}

.linked-accounts {
  display: flex;
  flex-direction: row;
  margin-bottom: 30px;
  h3 {
    color: white;
  }
}

.dashboard-card {
  margin: 30px 15px;
  padding: 60px 20px;
  display: flex;
  height: 100px;
  align-items: center;
  justify-content: space-between;
}

.sub-logo {
  flex: none;
  background-size: cover;
  border-radius: 5px;
  width: 100px;
  height: 50px;
  background-color: black;
}

.dash-card-item {
  flex: none;
  display: flex;
  i {
    color: #3579BE;
    font-size: 24px;
    padding-right: 10px;
  }
}

.dash-detail-sum {
  flex: none;
  display: flex;
  i {
    color: #3579BE;
    font-size: 24px;
    padding-right: 10px;
  }
}

.dash-button{
  flex: none;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 50px;
  .form-button {
    font-size: 16px;
  }
}

.no-booking {
  margin: 60px;
  text-align: center;
}
