<div class="container">
  <!-------------------------------------------- BANNER ----------------->
  <div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('https://kitt.lewagon.com/placeholder/cities/berlin');">
    <div class="banner-content">
    </div>
  </div>
  <!-- ----------------COAT FEATURES -------------------------- -->
  <div class="row">
    <div class="col-xs-12 col-sm-6">
      <h3> Your coat details </h3>
     <div class="list-group">
      <a href="#" class="list-group-item">
        <%= @coat.name %></a>
        <a href="#" class="list-group-item"><%= @coat.size %></a>
        <a href="#" class="list-group-item"><%= @coat.price %>EUR</a>
      </div>
    </div>
  </div>
</div>



