<h1>Bookings#new</h1>
<p>Find me in app/views/bookings/new.html.erb</p>


<div class="col-xs-12 col-sm-4">
  <%= simple_form_for(@booking) do |f| %>
    <%= f.input :start_date %>
    <%= f.input :end_date %>
    <%= f.submit "request booking", class: "btn btn-primary" %>
  <% end %>
</div>
