<div id="home-banner">
  <div id="home-wrapper" class="col-xs-12 col-sm-6 col-sm-offset-1">
    <div id="home-banner-content">
      <h1>Coat Yourself</h1>
      <p>Coat it like it's hot!</p>
      <div class="home-center-button">
        <%= link_to "Get Coated", categories_path , class: 'btn btn-primary' %>
      </div>
    </div>
  </div>
</div>
<div id="second-banner">
  <div class="row">
    <div class="col-xs-6">
      <div id="second-banner-content">
        <%= image_tag 'https://gloimg.zafcdn.com/zaful/pdm-product-pic/Clothing/2017/12/08/thumb-img/1512695605725574129.jpg' %>
      </div>
    </div>
    <div class="col-xs-6">
      <div id="second-banner-content">
        <h2>Best freaking coats</h2>
        <br>
        <h2>Cheapest freaking coats</h2>
        <br>
        <h2>Coat to GOAT</h2>
      </div>
    </div>
  </div>
</div>




