<div id="home-banner">
  <div class="row">
    <div class="col-xs-6">
      <div id="home-banner-content">
        <h1>COAT YOURSELF</h1>
        <p>Coat it like it's hot!</p>
        <div class="home-center-button">
          <%= link_to "Get Coated", categories_path , class: 'btn btn-primary' %>
        </div>
      </div>
    </div>
  </div>
</div>
<div id="second-banner">
  <div class="row">
    <div class="col-xs-6">
      <div id="second-banner-content">
        <h2>Best freaking coats</h2>
        <br>
        <h2>Cheapest freaking coats</h2>
        <br>
        <h2>Coat to GOAT</h2>
      </div>
    </div>
    <div class="col-xs-6">
      <div id="second-banner-content">
        <div class="home-card">
          <div class="home-card-description">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea dolorum, veritatis magni. Illo vero architecto, esse eius magni nemo suscipit saepe fugiat, cum quidem, veniam numquam alias accusantium porro nobis?</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>




