
.category-banner {
  text-align: center;
  background-size: cover !important;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 500px;
  display: flex;
  margin-bottom: 10px;
}

.category-banner h1 {
  font-size: 50px;
  font-weight: bold;
  color: white;
  text-align: center;
  text-shadow: 0 0 .3rem black;
  text-transform: uppercase;
  transform: translate3d(0,0,0) scale(1.25);
}





