<div class="big-container">
  <div class="container">
    <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://kitt.lewagon.com/placeholder/cities/shanghai');">
      <div class="card-description">
        <h2><%=@category.name%></h2>
      </div>
      <img class="card-user" src="">
      <a class="card-link" href="#" ></a>
    </div>
    <div class="container">
      <div class="row">
        <% @coats.each do |coat| %>
          <div class="col-xs-12 col-sm-6 col-md-3">
            <%= link_to coat_path(coat) do %>
              <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://kitt.lewagon.com/placeholder/cities/shanghai');">
                <div class="card-category"><%= coat.size %></div>
                <div class="card-description"><%= coat.price %></div>
              </div>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
